/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #0246A9;
  font-size: 62.5%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-size: 7em;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #001155;
  color: #0246A9;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}
.sidebar a:hover {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  .sidebar .sidebar {
    padding-top: 15px;
  }
  .sidebar .sidebar a {
    font-size: 18px;
  }
}
.main {
  margin-right: 300px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.text {
  color: #0246A9;
  background-color: #818181;
  border-radius: 12px;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 4em;
  width: 98%;
}
.header h1 {
  Font-size: 7em;
  color: #0055fa;
  background-color: #001155;
  border-radius: 80px;
}
.block {
  display: flex;
  align-items: center;
  margin: 5%;
  height: 40%;
  flex-direction: row;
  justify-content: space-evenly;
}
.block .img {
  width: 50%;
}
.block p {
  color: #0246A9;
  background-color: #818181;
  border-radius: 12px;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 6em;
}
.skills h2 {
  font-size: 2em;
  color: #0055fa;
  background-color: #001155;
  border-radius: 80%;
}
.skills table {
  width: 100%;
  background-color: #f1f1c1;
}
.skills table th {
  padding-left: 10%;
}
.skills table td {
  padding-left: 10%;
}
